/* Font */
@font-face {
    font-family: minecraft;
    src: url(assets/font/minecraft.ttf);
}

/* Body & wrapper */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/image/spruce_planks.png);
    background-position: center;
}
.cover {
    z-index: 4;
    position: absolute;
    width: 100%;
    height: 100%;
}
.page {
    z-index: 1;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.page > img {
    margin-bottom: 32px;
}
.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 128px 384px 128px 1fr;
    grid-template-rows: 1fr 128px 128px 128px 1fr; 
}

/* Lever */
.lever {
    position: absolute;
}
.lever-flick {
    z-index: 5;
    position: absolute;
    height: 64px;
    width: 48px;
    opacity: 0;
    cursor: pointer;
}

/* Content */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign {
    position: fixed;
}
.text {
    display: flex;
    position: absolute;
    width: 128px;
    height: 64px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "minecraft";
}
.about .page, .work .page, .contact .page {
    text-align: left;
    justify-content: start;
    align-items: flex-start;
}
.about, .work, .contact {
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.about .text, .work, .work .text, .contact .text {
    width: 216px;
    margin: 0;
    height: fit-content;
}
.about {
    transform: translateY(-80px) translateX(-4px);
}
.contact {
    transform: translateY(-148px) translateX(-4px);
}
.work {
    justify-content: space-between;
    align-items: flex-end;
    transform: translateY(60px) translateX(-4px);
}
.work-slides {
    display: none;
    position: relative;
    transform: translateY(-244px);
}
.controls {
    width: 216px;
    display: flex;
    justify-content: space-between;
    transform: translateY(24px);
}
.controls img {
    position: absolute;
}
.controls button {
    width: 36px;
    height: 20px;
    position: absolute;
    opacity: 0;
}
.images img:nth-child(2) {
    display: none;
}
.images:hover img:nth-child(2) {
    display: block;
}
.next {
    transform: translateX(-18px);
}
.next img {
    transform: translateX(-18px);
}
#instagram {
    color: #8134af;
}
#whatsapp {
    color: #25d366;
}
#email {
    color: #bb001b;
}
.done {
    display: flex;
    justify-content: center;
    align-items: center;
}
.done img:last-child {
    display: none;
}
.done:hover img {
    display: none;
}
.done:hover img:last-child{
    display: block;
}
.done > .text {
    margin: 0;
    color: white;
    text-shadow: 1px 1px #000000;
}
iframe {
    width: 216px;
    aspect-ratio: 16/9;
}