@import url(assets/font/minecraft.ttf);
* {
    font-family: "Minecraft", sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: center url(assets/image/spruce_planks_dark.png);
    filter: brightness(20%);
}
#page {
    position: absolute;
    width: 400px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 1;
    display: none;
}
#page > img {
    max-width: 100%;
    position: relative;
    margin: 16px 0;
}
#page > img:first-child {
    left: 54px
}
#blocks {
    max-width: 640px;
    height: 384px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#blocks > .lamp:nth-child(1) {
    top: 0;
    left: 0;
}
#blocks > .lamp:nth-child(2) {
    top: 0;
    right: 0;
}
#blocks > .lamp:nth-last-child(2) {
    bottom: 0;
    left: 0;
}
#blocks > .lamp:nth-last-child(1) {
    bottom: 0;
    right: 0;
}
.lamp, #lever {
    width: 128px;
    height: 128px;
}
.lamp,
.lamp > img:first-child,
.lamp > img:nth-child(2),
.lamp > p {
    position: absolute;
}
.lamp > img:nth-child(2) {
    top: 32px;
    cursor: pointer;
}
.lamp > p {
    margin: 0;
    font-family: "Minecraft", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#lever {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#lever > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#leverFlick {
    cursor: pointer;
}
#about, #achievements, #coolThings, #contact {
    width: 216px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 2;
    display: none;
}
#about > img {
    border-radius: 50%;
}
.achievementsSlide > img:nth-last-child(2), .coolThingsSlide > img:nth-last-child(2){
    position: absolute;
    left: 0;
    bottom: 0;
}
.achievementsSlide > img:nth-last-child(1), .coolThingsSlide > img:nth-last-child(1){
    position: absolute;
    right: 0;
    bottom: 0;
}
.achievementsSlide:not(:first-child), .coolThingsSlide:not(:first-child) {
    display: none;
}